@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;500;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --themeBgColor: #050624;
  --themeTextColor: #e3e3e3;
  --themeFontFamily: "Outfit";
}

body {
  background-color: var(--themeBgColor);
  color: var(--themeTextColor);
  font-family: var(--themeFontFamily);
}
